@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --foreground: hsl(220, 10%, 5%);
  --background: hsl(240, 5%, 100%);
  --content-100: hsl(240, 5%, 100%);
  --content-200: hsl(240, 5%, 95%);
  --content-300: hsl(240, 5%, 90%);
  --content-400: hsl(240, 5%, 85%);
  --content-500: hsl(240, 5%, 65%);
  --neutral-100: hsl(240, 5%, 95%);
  --neutral-200: hsl(240, 5%, 90%);
  --neutral-300: hsl(240, 5%, 85%);
  --neutral-400: hsl(240, 5%, 65%);
  --neutral-500: hsl(240, 5%, 45%);
  --neutral-600: hsl(240, 5%, 35%);
  --neutral-700: hsl(240, 5%, 25%);
  --neutral-800: hsl(240, 5%, 15%);
  --neutral-900: hsl(240, 5%, 10%);
  --primary-100: hsl(212, 85%, 65%);
  --primary-200: hsl(212, 85%, 55%);
  --primary-300: hsl(212, 85%, 45%);
  --primary-400: hsl(212, 85%, 35%);
  --primary-500: hsl(212, 85%, 25%);
  --shadow-small: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
     rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  --shadow-medium: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
     rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --shadow-large: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
     rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.darkmode {
  --foreground: hsl(240, 5%, 95%);
  --background: hsl(220, 10%, 5%);
  --content-100: hsl(240, 5%, 10%);
  --content-200: hsl(240, 5%, 15%);
  --content-300: hsl(240, 5%, 25%);
  --content-400: hsl(240, 5%, 35%);
  --content-500: hsl(240, 5%, 45%);
  --neutral-100: hsl(240, 5%, 10%);
  --neutral-200: hsl(240, 5%, 15%);
  --neutral-300: hsl(240, 5%, 25%);
  --neutral-400: hsl(240, 5%, 35%);
  --neutral-500: hsl(240, 5%, 45%);
  --neutral-600: hsl(240, 5%, 65%);
  --neutral-700: hsl(240, 5%, 85%);
  --neutral-800: hsl(240, 5%, 90%);
  --neutral-900: hsl(240, 5%, 95%);
  --primary-100: hsl(212, 90%, 65%);
  --primary-200: hsl(212, 90%, 55%);
  --primary-300: hsl(212, 90%, 45%);
  --primary-400: hsl(212, 90%, 35%);
  --primary-500: hsl(212, 90%, 25%);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Funnel Sans', sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--foreground);
    background-color: var(--background);
    transition: all .25s ease-in-out;
}

main, section {
    overflow: hidden;;
}

a, button {
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    border: none;
    outline: none;
    background: none;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: inherit;
    line-height: 1.15;
    text-wrap: balance;
    word-wrap: break-word;
}

p,
li {
    font-family: inherit;
    line-height: 1.5;
    word-wrap: break-word;
}

.section {
    margin-inline: auto;
    padding-block: 6rem 2rem;
}

.container {
    max-width: 75rem;
    height: auto;
    margin-inline: auto;
    padding-inline: 2rem;
}

.center {
    text-align: center;
    vertical-align: middle;
}

.btn {
    display: inline-flex;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    align-items: center;
    white-space: nowrap;
    justify-content: center;
    vertical-align: middle;
    column-gap: .35rem;
    padding-block: .75rem;
    padding-inline: 1.25rem;
    border-radius: .25rem;
    transition: all .25s ease-in-out;
}

.btn-neutral {
    color: var(--neutral-100);
    background-color: var(--neutral-900);
    box-shadow: var(--shadow-medium);
}

.btn-primary {
    color: var(--neutral-100);
    background-color: var(--primary-400);
    box-shadow: var(--shadow-medium);   
}

.darkmode .btn-primary {
    color: var(--neutral-900);
    background-color: var(--primary-200);
}

.dm--header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 100;
    background-color: var(--background);
    box-shadow: var(--shadow-medium);
    transition: all .25s ease-in-out;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 4rem;
    width: 100%;
    height: 4rem;
    margin-inline: auto;
}

.dm--brand {
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: var(--foreground);
}

.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: all .25s ease-in-out;
}

.toggle-light, .toggle-dark {
    font-size: 1.35rem;
    color: var(--foreground);
    transition: all .25s ease-in-out;
}

.toggle-light {
    display: block;
    visibility: visible;
}

.darkmode .toggle-light {
    display: none;
    visibility: hidden;
}

.toggle-dark {
    display: none;
    visibility: hidden;
}

.darkmode .toggle-dark {
    display: block;
    visibility: visible;
}

.banner--column {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 2rem;
}

@media screen and (max-width: 50rem) {
    .banner--column {
        grid-template-columns: minmax(0, 1fr);
    }
}

.banner--content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    row-gap: 1.5rem;
    column-gap: 1.5rem;
}